@import "components/variables.scss";

.timer {
    font-size: 2rem;
    font-family: "Segment7Standard", "Courier New", Courier, monospace;
    .colon {
        display: inline-block;
        position: relative;
        top: -0.4rem;
        width: 0.3rem;
        height: 1.6rem;
        margin: auto 0.4rem;
        border-top: 0.3rem solid $color-default;
        border-bottom: 0.3rem solid $color-default;

        animation: blink 1s step-start 0s infinite;
    }
}