@import '../Variables.scss';

.bright-bulbs {
  .header {
    text-align: center;
    padding: 30px;

    .logo {
      max-width: 400px;
      pointer-events: none;
      user-select: none;
    }

    .bulb-removed {
      position: relative;
      .logo {
        max-width: 400px;
      }
      .draggable {
        display: inline;
        max-width: 150px;
        .logo-bulb {
          max-width: 150px;
        }
      }
    }

  }

  .body {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

    .lamps {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
      .lamp {
        max-height: 200px;
        max-width: 150px;
        pointer-events: none;
        user-select: none;
      }
    }

    p {
      color: $color-dark;
      font-size:1.5rem;
      font-weight:bold;

      &.invisible {
        color: $color-lightest;
      }

      &.small {
        font-size: 1rem;
      }

      &.highlight {
        color:white;
      }
    }

    textarea {
      resize: none;
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $color-dark;
      width: 100%;
      max-width: 500px;
      height: 150px;
      margin: 0 auto;
    }

    .button {
      width: 80%;
      max-width: 400px;
      padding: 10px;
      margin: 10px auto;
      border-radius: 5px;
    }

  }
}