$color-light: #85CC8F;
$color-default: #4CC25D;
$color-accent: #399146;
$color-dark: #1B4521;

$color-background: white;
$color-background-dark: black;

// Sidebar
$sidebar-color: $color-background-dark;
$sidebar-width: 300px;