@import '../Variables.scss';

.password-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;

  &.multiline {
    flex-direction: column;
    flex-wrap: none;
  }

  .password-input {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
  }

  .password-submit-button {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    font-size: 20px;
  }
}