@import "components/variables.scss";

.App {
    background-color: $color-dark;
    position: absolute;
    left: $sidebar-width;
    top: 0;
    right: 0;
    min-height: 100%;

    .content {
        background-color: $color-light;
        margin: 30px;
        border-radius: 10px;
    }
}